@tailwind base;
@tailwind components;
@tailwind utilities;

/*Tema escuro (padrão) */
:root {
  --bg: #0d0b14;
  --card: #161320;
  --text: #e8e6f2;
  --text-dim: #b9b4c9;
  --purple: #7b5cff;
  --purple-dark: #5a3ee8;
}

/*Tema claro */
.light {
  --bg: #ffffff;
  --card: #f3f2f8;
  --text: #1a1a1a;
  --text-dim: #555;
  --purple: #7b5cff;
  --purple-dark: #5a3ee8;
}

/* onte suave */
body {
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

/*feito glass */
.glass {
  background: var(--card);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 12px;
}

/*Suave animações */
* {
  transition: 0.25s ease;
}
